<h1>All my tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed == true %>
      <li>&#9745 <%= link_to "#{task.title}", task_path(task.id) %></li>
    <% else %>
      <li>&#9744 <%= link_to "#{task.title}", task_path(task) %></li>
      <!-- on peut utiliser task ou task.id, il comprend -->
    <% end %>
  <% end %>
</ul>
